{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'carro.css' %}">
    
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="{% static 'cliente.js' %}"></script>

{% endblock %}


{% block 'dashboard' %}

<div class="alan">
  
</div>

<div class="main">

  <div class="procura">
    <form method="GET" id="search-form">
      <input type="text" id="search" name="search" placeholder="Pesquisar" value="{{request.GET.search}}">
        <i class='bx bx-search' ></i> 
    </form>
  </div>

  <div>
    <input type="checkbox" class="checkbox" id="checkbox">
    <label for="checkbox" class="checkbox-label">
      <i class="bx bx-sun"></i>
      <i class="bx bx-moon"></i>
      <span class="ball"></span>
    </label>
  </div>

  

</div>



<div class="container">
  <div class="addCar">

    <div class="col-lg-12">
      <a href="{% url 'carro-create' %}" class="text-card"> Adicionar Carro </a>
    </div>

  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="row">Placa</th>
        <th scope="row">Marca</th>
        <th scope="row">Modelo</th>
        <th scope="row">Ano</th>
        <th scope="row" class="cor-th">Cor</th>
      </tr>
    </thead>
    <tbody>
{% for carro in object_list %}
      <tr>
        <th scope="row"> <a href="{% url 'carro-detail' carro.pk %}"> {{carro.placa}} </a></th>
        <td>{{carro.marca}}</td>
        <td>{{carro.modelo}}</td>
        <td>{{carro.ano}}</td>
        <td>{{carro.cor}}</td>
        <td> <a class="btn-crud" href="{% url 'carro-update' carro.pk %}"><i class='bx bx-edit' ></i> Edit </a></td>
        <td> <a class="btn-crud" href="{% url 'carro-delete' carro.pk %}"> Delete </a></td>      
    </tr>
{% endfor %}
    </tbody>
  </table>


</section>  
{% endblock %}