{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'carro.css' %}">
<link rel="stylesheet" href="{% static 'cliente.css' %}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="{% static 'cliente.js' %}"></script>
{% endblock %}


{% block 'dashboard' %}

<div class="alan">
  
</div>

<div class="procura">
    <form method="GET" id="search-form">
    <input type="text" id="search" name="search" placeholder="Pesquisar" value="{{request.GET.search}}">
      <i class='bx bx-search' ></i> 
    </form>
  </div>
  
  <div class="addCar">
  
  <div class="col-md card-dashboard">
    <a href="{% url 'cliente-create' %}" class="text-card"> Adicionar Cliente </a>
  </div>
  
  </div>
  
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">CPF</th>
          <th scope="col">Carro</th>
          
        </tr>
      </thead>
      <tbody>
  {% for cliente in object_list %}
        <tr>
          <th scope="row"><a href="{% url 'cliente-detail' cliente.pk %}"> {{cliente.nome}} </a></th>
          <td>{{cliente.sobrenome}}</td>
          <td>{{cliente.cpf}}</td>
  
          <td>
            {% for carro in cliente.carro.all %}  <p>{{carro}} </p> 
            {% endfor %}
          </td>
  
          <td> <a class="btn-crud" href="{% url 'cliente-update' cliente.pk %}"><i class='bx bx-edit' ></i> Edit </a></td>
          <td> <a class="btn-crud" href="{% url 'cliente-delete' cliente.pk %}"> Delete </a></td>      
      </tr>
  {% endfor %}
      </tbody>
    </table>
  

   

  




{% endblock %}