{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'landing.css' %}" >
<link rel="stylesheet" href="{% static 'carro.css' %}">
 

{% endblock %}

{% block 'dashboard'%}

<header class="header">
    <a href="#" class="logo"> Olá, <span class="user"> {{user}}. </span>   </a>

    <div class="procura">
        <form method="GET" id="search-form">
        <input type="text" id="search" name="search" placeholder="Pesquisar" value="{{request.GET.search}}">
          <i class='bx bx-search' ></i> 
        </form>
    </div>
    
    <div class="navbar">
        <a class="active" href="#">  </a>
        <a href="#">  </a>
        <a href="#">    </a>
        <a href="#">  </a>
        <a href="#">    </a>
    </div>
</div>



{% endblock %}