{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'landing.css' %}" >
<link rel="stylesheet" href="{% static 'carro.css' %}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

 

{% endblock %}


{% block 'dashboard'%}

<header class="header">
    <a href="#" class="logo"> Olá, <span class="user"> {{user}}. </span>   </a>

    <div class="procura">
        <form method="GET" id="search-form">
        <input type="text" id="search" name="search" placeholder="Pesquisar" value="{{request.GET.search}}">
          <i class='bx bx-search' ></i> 
        </form>
    </div>

    
  <div>
    <input type="checkbox" class="checkbox" id="checkbox">
    <label for="checkbox" class="checkbox-label">
      <i class="bx bx-sun"></i>
      <i class="bx bx-moon"></i>
      <span class="ball"></span>
    </label>
  </div>
    
   
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>Serviços </h1>
      
      <div class="flex-wrapper">
              
        <div class="single-chart">
          <svg viewBox="0 0 36 36" class="circular-chart blue">
            <path class="circle-bg"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <path class="circle"
              stroke-dasharray="90, 100"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <text x="18" y="20.35" class="percentage">
              {% for aux in object_list.services_geral  %}
                {% if forloop.last %}
                  {{forloop.counter}}
                {% endif  %}
              {% endfor %}

            </text>
            
          </svg>
          

          
          

        </div>
       
    </div>
     
    
       

    
    <div class="btn">
        <a class="btnHome" href="{% url 'servicos-list' %}"> Ver </a>
        <a class="btnHome" href="{% url 'servicos-create' %}"> Adicionar </a>
        
    </div>
        
    
    </div>
    <div class="col-lg-4">
      <h1> CLientes </h1>
    
      <div class="flex-wrapper">
        <div class="single-chart">
          <svg viewBox="0 0 36 36" class="circular-chart blue">
            <path class="circle-bg"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <path class="circle"
              stroke-dasharray="90, 100"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <text x="18" y="20.35" class="percentage">
              {% for aux in object_list.clientes_geral  %}
                {% if forloop.last %}
                  {{forloop.counter}}
                {% endif  %}
              {% endfor %}</text>
          </svg>
        </div>
    </div>
     

    <div class="btn">
      <a class="btnHome" href="{% url 'clientes-list' %}"> Ver </a>
      <a class="btnHome" href="{% url 'cliente-create' %}"> Adicionar </a>
  
  </div>



    </div>
    <div class="col-lg-4">
      <h1>Carros</h1>
      <div class="flex-wrapper">
        <div class="single-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path class="circle"
            stroke-dasharray="90, 100"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="20.35" class="percentage">
          {% for aux in object_list.carros_geral  %}
            {% if forloop.last %}
              {{forloop.counter}}
            {% endif  %}
          {% endfor %}
          </text>
        </svg>
        </div>
      </div>
      

      <div class="btn">
        <a class="btnHome" href="{% url 'carro-list' %}"> Ver </a>
        <a class="btnHome" href="{% url 'carro-create' %}"> Adicionar </a>
      </div>


    </div>
  </div>


</div>
{% endblock %}

