{% extends 'base.html' %}
{% load static %}

{% block 'head' %}



<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'form.css' %}">
<link rel="stylesheet" href="{% static 'carro.css' %}">



{% endblock %}




{% block 'dashboard' %}

<div class="alan">
  
</div>

<div class="title"> 
    <h1>Editar Serviço</h1>

</div>


    
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2> Cliente </h2>
                {{form.cliente}}
            </div>
            <div class="col-lg-8">
                <h2>Carro</h2>
                {{form.servCar}}
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h2>Tipo</h2>
                {{form.tipo}}


            </div>
            <div class="col-lg-5">
                <h2>Descrição</h2>
                {{form.descricao}}
            </div>
            <div class="col-lg-3">
                <h2>Status</h2>
                {{form.status}}
            </div>

        </div>
        <div class="row">
            
            <button type="submit" id="cadastrar">Editar</button>
            
        </div>
           
        

        
       
        
        
       
        

    </div>

  
</form>






{% endblock %}