@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


.alan {
    width: 100%;
    height: 20px;
  
}

.col-lg-12{

  
    width: 50%;
    margin-top: 40px;
    text-align: center;
    padding: 20px;

}



.procura {
    margin-left: 25%;
    background: var(--main-color);
    width: 400px;
    height: 30px;
    border-radius: 30px;
    transition: .7s;
    
    
}


.procura input::placeholder {
    color: #fff;
}

.procura:hover input {
    width: 350px;

}

.procura input {
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 1em;
    transition: .6s;
    text-align: center;
    

}

.procura i{
    margin-top: 5px;
    color: #fff
}

.text-card{
    border: 2px solid var(--main-color);
    padding: 15px;
    color: var(--main-color);
    text-decoration: none!important;
    border-radius: 18px;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
    transition: .4s;
   
}

.text-card:hover{
    color: #EEEEEE;
    background: var(--main-color);
  }



.main {
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    
    display: flex;
}

.checkbox {
    
    position:absolute!important;
    
    
    
}



.addCar {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
   
    
    
    
}


.text-card:hover{
    color: #EEEEEE ;
}

.table{
    margin-top: 2rem;
    
    
    
    
}



.table thead th {
    width: 220px;
    background: var(--main-color);
    color: var(--background-color);
    border: none;
    
    
   
}

.cor-th{
    border-radius: 0 10px 10px 0;
}







.table a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 16px; 

}
.table a:hover {
    color: var(--main-color);
    text-decoration: none; 
    
}

.table th {
    color: var(--text-color) ;
    font-weight: 500;
   
    
    
}



.table td {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    border: none;
   
    
    
 
    
}

.circle{
    margin-top: 40px;
    border-radius: 10%;
    
}

