@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


.alan {
    width: 100%;
    height: 20px;
  
}


.procura {
    
    background: var(--main-color);
    width: 400px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    transition: .9s;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.1 );
}


.procura input::placeholder {
    color: #fff;
}

.procura:hover input {
    width: 350px;

}

.procura input {
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 1em;
    transition: .9s;
    text-align: center;
    

}

.procura i{
    margin-top: 5px;
    color: #fff
}

.text-card{
    border: 2px solid var(--main-color);
    padding: 15px;
    color: var(--main-color);
    text-decoration: none!important;
    border-radius: 16px;
}



.addCar {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
   
    
    
    
}


.text-card:hover{
    color: var(--main-color) ;
}

.table{
    margin-top: 1.2rem;
}

.table thead th {
    width: 220px;
   
}





.table tr {
    border:2px solid  var(--background-color);
    
}

.table a {
    color: #9295a4;
    text-decoration: none;
    font-size: 16px; 

}
.table a:hover {
    color: var(--main-color);
    text-decoration: none; 
    
}

.table th {
    color: #fff ;
    font-weight: 500;
    
    
}



.table td {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
   
    
    
 
    
}

.circle{
    margin-top: 40px;
    border-radius: 10%;
    
}

