.card-dashboard{

    background-color: #1b1c31;
    width: 50%;
    margin-top: 40px;
    text-align: center;
    padding: 20px;

}

.text-card{

    font-size: 25px;

}

.btn-add-carros{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #9295a4;

}

.btn-principal{
    color:#9295a4;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}