.card-dashboard{

    background-color: var(--background-color);
    width: 50%;
    margin-top: 40px;
    text-align: center;
    padding: 20px;

}

.text-card{

    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
    transition: .4s;
   

}

.text-card:hover{
    color: #EEEEEE;
    background: var(--main-color);
  }


