@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    font-family: 'Poppins';
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
   
    
    
}

.logo {
    margin-top: 0px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.logo:hover{
    color: #fff;

}



.user {
    margin-left: 20px;
    color: #7267EF;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;


}




.procura {
    background: #1b1c31 !important;
    
}

.container {
  margin-top: 50px;
  background: #1b1c31;
  border-radius: 18px;
}

.col-lg-4{
  padding: 50px;
}

.col-lg-4 h1{
  text-align: center;
  color: #9295a4;
  
}

.btn{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex!important;

}

.btnHome{
  text-decoration: none;
  font-size: 2rem;
  color: #7267EF;
  display: block;
  margin: 0 15px;
  font-weight: 500;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  border: 2px solid #7267EF;
  transition: .3s;

  
}

.btnHome:hover{
  color: #9295a4;
  background: #7267EF;
}


.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
  
}

.circular-chart {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  max-height: 230px;
}

.circle-bg {
  fill: none;
  stroke: #1b1c31;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue .circle {
  stroke: #292943;
  
}

.percentage {
  fill: #9295a4;
  font-size: 0.5em;
  text-anchor: middle;
  
}
