*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo {
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.logo:hover{
    color: #fff;

}



.user {
    margin-left: 20px;
    color: #7267EF;
}

.navbar a {
    font-size: 18px;
    color: blue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;


}

.navbar a:hover,
.navbar a.active {
    color: #000;

}



.procura {
    background: transparent !important;
    
}



.card {
    
    width: 100%;
    height: 600px;
    background: #1b1c31;
    margin-top: 70px;
    

}

.card-content {
    display: flex;
    margin: 10px;
}

.card-item {
    display: block;
    width: 310px;
    height: 350px;
    
    justify-content: center;
    margin: 40px auto;
    align-items: center;
}

.card-item h1 {
    text-align: center;
    color:#fff
}